<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{options.name}} | {{title}}</title>
    <link rel="stylesheet" href="assets/app.css">
    <script src="assets/app.js"></script>
</head>
<body class="styleguide">
    <header>
        {{options.name}}
        Search is going to go here...
    </header>
    <nav class="navigation">
        {{#each options.navigation}}
            <a href="{{this}}">{{@key}}</a>
        {{/each}}
    </nav>

    <article>
        {{{parsedHTML}}}
    </article>
</body>
</html>
