<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{options.name}} | {{title}}</title>
    <link rel="stylesheet" href="assets/app.css">
    <script src="assets/app.js"></script>
</head>
<body class="styleguide">
    <header>
        {{#contains 'index.html' options.navigation}}
            <h1><a href="index.html">{{options.name}}</a></h1>
        {{else}}
            <h1>{{options.name}}</h1>
        {{/contains}}
    </header>
    <nav class="navigation">
        {{#contains 'index.html' options.navigation}}
            <div><a href="index.html">Home</a></div>
        {{/contains}}
        {{#each options.navigation}}
            {{#contains 'index.html' this}}
            {{else}}
            <div><a href="{{this}}">{{@key}}</a></div>
            {{/contains}}
        {{/each}}
    </nav>

    <article>
        {{{parsedHTML}}}
    </article>
</body>
</html>
